
.img1{
	width: 70%;
	height: 100%;
	display:block;
	margin:auto;
}

.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 15px;	
}

h1{
	font-family: 'Montserrat', bold;
	font-size: 38px;

}

p{
	font-family: Montserrat;
	font-size: 19px;
}

.drobi{
	width: 40vh ;
}

h2{
	font-family: 'Montserrat', bold;
	font-size: 24px;

}

.zadacha2{
	width: 90vh;
}

.procenty{
	text-align: center;
}

h3{
	font-family: 'Montserrat', bold;
	font-size: 24px;
}

.nav {
        margin: 20px 0;
}
.nav ul {
        margin: 0;
        padding: 0;
}
.nav li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;
}
.nav a {
        padding: 3px 12px;
        text-decoration: none;
        color: black;
        line-height: 100%;
        font-family: 'Montserrat';
}
.nav a:hover {
        background-color: whitesmoke;
}
.nav .current a{
        background: #999;
        color: #fff;
        border-radius: 3px;
}

ul{
        text-align: center;
}

