

.img1{
	width: 70%;
	height: 100%;
	display:block;
	margin:auto;
}

.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: white;
	border-left-width: 1.5px black;
  	border-left-style: solid;
  	border-right-width: 1.5px black;
  	border-right-style: solid;
  	border-radius: 10px; 
}
}

h1{
	font-family: 'Montserrat', bold;
	font-size: 38px;

}

p{
	font-family: Montserrat;
	font-size: 19px;

}

.drobi{
	width: 40vh ;
}

h2{
	font-family: 'Montserrat', bold;
	font-size: 24px;

}

.zadacha2{
	width: 90vh;
}

.procenty{
	text-align: center;
	font-family: 'Montserrat', bold;

}

h3{
	font-family: 'Montserrat', bold;
	font-size: 24px;
}

.nav {
        margin: 20px 0;
}
.nav ul {
        margin: 0;
        padding: 0;
}
.nav li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;
}
.nav a {
        padding: 3px 12px;
        text-decoration: none;
        color: black;
        line-height: 100%;
        font-family: 'Montserrat';
}
.nav a:hover {
        background-color: whitesmoke;
        border-radius: 10px;
}
.nav .current a{
        background: #999;
        color: #fff;
        border-radius: 3px;
}

ul{
        text-align: center;
}

.sosh8{
	width: 100%;
	float: right;
	border-radius: 15%;
	margin-bottom: 10px;
}

.sosh8info p{
	text-align: center;
}

.sosh8info{
	max-width: 80%;

}

.containerImg{
	max-width: 100%;
	float: right;
	margin-top: 16rem;


}

.textPhoto{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}

.kontakt{
	line-height: 4px;
	font-size: 14px;
}

.info1{
	font-size: 14px;
}

.containerInfo{
	min-width: 250px;
	max-width: 270px;
	margin-right: 25px ;
	margin-left: 25px;
	float: right;
	text-align: center;
	margin-top: 1rem;
}

.history{
	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat', bold;
}

.school{
	margin-bottom: 10px;
	width: 300px;
	border-radius: 15%;
	float: left;
	margin-right: 20px;
}

.textInfo1{
	line-height: 19px;

}


.containerImg{
	margin: 0 auto;
	padding: 0 15px;
	background-color: white;
	border-left-width: 1px black;
  	border-left-style: solid;
  	border-right-width: 1px black;
  	border-right-style: solid;
  	border-radius: 10px; 
}
.containerImg0{
	max-width: 100%;
	float: right;
	margin-top: 1rem;
}

.containerInformation{
	max-width: 100%;
	float: right;
	margin-top: 8rem;
	margin: 0 auto;
	padding: 0 15px;
	background-color: white;
	border-left-width: 1px black;
  	border-left-style: solid;
  	border-right-width: 1px black;
  	border-right-style: solid;
  	border-radius: 10px; 
  	margin-bottom: 50px;

}

.PoznSite{
	font-size: 19px;
}


body{
	background-image: url("background.png");
	background-size: 100%;
	background-position-y: 80px;
	text-stroke: 100px #FFFFFF;
	

}

.menu{
	background-image: white ;
}
